.education {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        // border-bottom: 5px solid var(--red);
        border-bottom: 5px solid #afdee4;
    }
    }