.jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

    &__title {
        margin-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 5px solid #afdee4;
    }
}