.header {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
//background-color: lightgray;
background-color: rgb(113, 162, 179);
padding-top:30px;
padding-bottom: 30px;

&__text{
height: 150px;
display: flex;
flex-direction: column;
}

&__image {
    width: 150px;
    height: 150px;
    // border: 5px solid #afdee4;
    border-radius: 155px;
    contain: content;
    margin-left: 80px;
}

&__image--img {
    width: 150px;
    height: 150px;
}
}

